body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    -webkit-font-smoothing: antialiased;
    background:#cdd8fc; 
    color:#fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50 px;
}
.container{
    flex-wrap: wrap;
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__container{
    flex-wrap: wrap;
    width:100%;
    max-width: 2200px;
    margin: 0 auto;
}
.header{
    margin: 20px auto;
    width:100%;
    height: 70px;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #9EB5FF;
}
.header__inner {
    margin: 0 172px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

.btn {
    display: inline-block;
    vertical-align: top;
    border: 1px;
    margin:0px 10px;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;

    transition: background .1s linear;
}

.btn--blue {
    padding: 7px 45px;
    text-align:center;
    background-color: #7290F2;
}

.btn--blue:hover {
    padding: 7px 45px;
    text-align:center;
    background-color: #4D75F8;
}

.nav__link {
    margin-left: 50px;
    padding-top:15px;
    text-decoration: none;
    transition: opacity .1s linear;}

.intro {
    display:flex;
    margin: 400px 0;
    width:100%;
    height: 473px;
    z-index: 1000;
    background-color: #9EB5FF;
}
.intro__title {
text-align: left;
font-size: 100px;
padding-top:70px;
}
.intro__photo {
    position: absolute;
    width:826px;
    height:826px;
    top:5%;
    left:55%;
    z-index: 1000;
}
.intro__text {
    text-align: left;
    font-family: 'Inter';
    font-size: 50px;
    margin:10px -5px;
}
.aboutme {
    margin:0;
    text-align: center;
}
.aboutme__title {
    font-size: 80px;
    
    

    
}
.aboutme__text {
    font-family: 'Inter';
    font-size: 50px;
    padding: 0 100px;
   
    


}
.skills {
    margin: 200px 0;
    width:100%;
    height: 160px;
    z-index: 1000;
    background-color: #9EB5FF;
    text-align: center;
}
.skills__title {
    padding: 30px;
    font-size: 80px;
}
.programms{
   margin: 200px 0;
   max-width: 1500;
   width: 100%;
}
.programms__inner {
    
   display: flex;
   flex-wrap: wrap;
   
}

.skills__item {
    padding-left: 23.9%;
    padding-top: 200px;
}
.skills__name {
    font-size: 50;
    padding-left: 86px;
    
}
.skills__photo {
    padding-left: 40px;
    width: 200px;
    height: 200px;
}
.skills__star {
    width: 50px;
    height: 50px;
    
}
.contacts{
    margin-top: 200px;
}
.contacts__inner {
    margin:0;
    text-align: center;
}
.contacts__title {
    font-size: 80px;
   
    
}
.contacts__text{
font-family: 'Inter';
font-size: 50px;
padding-left: 10px;
}
.socials {
    margin: 0 0 0 0;
}
.social__inner {
    display: flex;
   flex-wrap: wrap;
}
.social__box {
    width:100%;
    height: 350px;
    z-index: 1000;
    background-color: #9EB5FF;
}
.social__item{
  padding-left: 10%;
}
.social__name {
font-family: 'Inter';
font-size: 10;
color:#fff;
}
.social__photo{
    padding-top: 50px;
    width: 110px;
    height: 110px;
    padding-left: 58px;
}
.social__youtube{
    padding-top: 55px;
    width: 110px;
    height: 110px;
    padding-left: 48px;
}